.hidden {
  display: none;
}

#scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#content2 iframe {
  width: 100%;
  /* 100% width */
  height: 500px;
  /* Fixed height, adjust as needed */
}